.dashboard {
  width: 87%;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin-left: 250px;
  position: absolute;
  top: 80px;
}

h1 {
  font-size: 24px;
  color: #333;
}

.dashboard-content-1 {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 40px;
  margin-top: -20px;
}

.section {
  /* margin-left: 20px; */
  background-color: #fff;
  margin-top: 40px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1;
  min-width: 300px;
}

.deals-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.deals-table th,
.deals-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

.deals-table th {
  background-color: #f1f1f1;
}

.deals-table .lost {
  color: white;
  /* background-color: #dc3545; */
  font-size: 12px;
  padding: 0 6px;
  border-radius: 5px;
  text-align: center;
}

.deals-table .won {
  font-size: 12px;
  color: white;
  /* background-color: #28a745; */
  padding: 2px 6px;
  border-radius: 5px;
  text-align: center;
}
.deals-table .lost span {
  padding: 5px 10px;
  background-color: #dc3545;
}
.deals-table .won span {
  padding: 5px 10px;
  background-color: #28a745;
}

/* dropdows and icons */
.span-button {
  margin-left: 241px;
}
.span-button select {
  padding: 5px;
  border-radius: 5px;
  background-color: transparent;
  border: 0.1px solid lightgray;
}
.dropdown-sales-pipeline {
  margin-left: 355px;
}
.dropdown-sales-pipeline select {
  padding: 5px;
  border-radius: 5px;
  border: 0.1px solid lightgray;
}
.dropdown-lastdays {
  margin-left: 10px;
}
.dropdown-lastdays select {
  padding: 5px;
  border-radius: 5px;
  border: 0.1px solid lightgray;
}
